/* main-nav */
@font-face {
    font-family: Poppins;
    src:url('https://fonts.googleapis.com/css2?family=Poppins&display=ssoluap');
}
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    box-sizing: border-box;
    letter-spacing: 0;
    flex-wrap: wrap;
}
img{
    max-width: 100%;
}
.logo a{
    color: #063255;
    font-size: 1.5rem;
    font-style: bold;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    /* flex-wrap: wrap; */
}
body{
    font-family: 'Poppins', sans-serif;
}   
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.sixth{
    gap: 0px;
}
li{
    list-style: none;
}
/* a p h1-6 styles  */
.nav-items{
    display: flex;
    align-items: center;
}
.nav-items a{
    color: black;
}
.nav-items .cta-btn{
    color: #F58A07;
    background-color: #f9dcc4;
    padding: 1rem 2.5rem;
    border-radius: 30px;
}
.buttons a{
    text-decoration: none;
    background-color: #DCEAF5;
    border-color: #DCEAF5;
    color: #063255;
}
.buttons a:hover{
    background-color: #F58A07;
    color: white;
}
a{
    text-decoration: none;
    color: #F58A07;
    font-size: 1rem;
}
.col-2{
    width: calc(100%/2 - 40px);
    flex-grow: 1;
}
.twice .col-2{
    margin: 10px 10px 60px auto;
}
.pseudo{
    background-color: white;
    border-radius: 30px;
}
.pseudo-1{
    width: 15%;
}
.pseudo-2{
    width: 79%;
   padding-top: 30px;
}
.seventh-row{
   /* gap: 5px; */
   display:flex;
}
.background{
    background-image: url("/images/experience-image.png");
    background-size: cover;
    height: 518px;
    margin: 0;
}
.column .col-2{
    margin: 0px 0 20px 0;
}
.column .col-2 p{
    margin: 10px 0 40px 0;
}
.col-3{
    width: calc(100%/3 - 40px);
    flex-grow: 1;
}
.images h4{
    margin: 20px 0;
}
.images a{
    margin: 20px 0;
}
.nav-items li{
    padding: 1rem 1rem;
}
p{
    color: #5B5B5B;
    font-size: 1rem;
} 
.partners p{
    color: gray;
}
h1{
    color: #063255;
    font-size: 3rem;
}
h2{
    font-size: 2.25rem;
}
h3{
    font-size: 1.8rem;
}
h4{
    font-size: 1.5rem;
}
.nav-bar{
    justify-content: space-between;
} 
.logo{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.img-feature{
    width: 100%;
    flex: 1 30px;
}
.service-btn{
    border: 1px solid rgb(245 115 9);
    background-color: rgb(245 115 9);
    color: white;
    border-radius: 30px;
    padding: 2% 8%;
    margin-right: 10%;
}
.service-see{
    color: #063255;
    font-weight: bold;
}
.header-img{
   flex: 1 500px;
}
img {
    vertical-align: bottom;
}
.left{
    padding-left: 5%;
    margin: auto;
}
.partner-logos img{
    padding: 2vh 3%;
}
.partner-logos :first-child{
    padding-left: 0;
}
.buttons{
    margin: 8% 0;
}
h2{
   font-size: 2rem;
}
h3{
    font-size: 1.5rem;
 }
 h4{
    font-size: 1.5rem;
 }
.text-2{
    display:flex;
   justify-content: column;
}
#first{
    background-color: #DCEAF5;
}   
#third {
    background-color: #DCEAF5;
}
.images{
    display: flex;
    justify-content: space-between; 
}
.pngs{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}   
.png-1{
    margin: 10px;
    padding: 10px;
}
.fifth-container{
    background-color: #DCEAF5;
    border-radius: 30px;
    height: 600px;
    max-width: 1300px;
    position: relative;
    padding: 2rem;
    /* margin: 10px auto; */
}
#eighth{
    background-color: #DCEAF5;
}
.main-footer{
    background-color: #063255;
}
.space-2{
    justify-content: space-between;

}
section{
    padding: 6rem 0;
}
.section-part{
    margin: 40px 0 60px 0;

}
/* Solution section */

.solution-card{
    background-color: white;
    padding: 40px;
    border-radius: 30px;
}
.solution-image{
    background-color: white;
    border-radius: 30px;
}
.solution-image img{
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.solution-image-top img{
    border-radius: 30px;
    /* margin: auto auto 50px auto; */
}
.fourth-text h2{
    margin: 90px 110px auto auto;
}
.fourth-text p{
    margin: 10px 120px auto auto;
}
.twice h3{
    font-size: 1.75rem;
    margin-top: 50px;
}

.fifth-image{
    text-align: right;
}
.part-one{
    margin: 60px 30px 0 0;
}
.vacancy{
    background-color:#F58A07;
    padding: 10rem;
   
}
.vacancy a{
    display: inline-block;
}
.bottom-text{
    padding: 30px;
}
.top-text{
    padding: 0px 0px 60px 0px;
}
.main-footer{
    padding: 30px;
}
.main-footer p{
    color: white;
}
.col-4{
    padding: 30px;
}
.groups a{
    border: 1px solid #5B5B5B;
    color: #5B5B5B;
    padding: 10px 15px;
    border-radius: 30px;
    display: inline-block;
}  
.groups a:hover{
    background-color: white;
    border-color: white;
    color: #F58A07;
}
.groups {
    /* margin: 5px auto 0px 30px; */
    margin-bottom: 2rem;
} 
.space{
    line-height: 2rem;
}
.space-1{
    line-height: 3rem;
    padding-left: 30px;
}
.space-2{
    line-height: 3rem;
    text-align: center;
}
.orange-btn{
    background-color:white;
    color:#F58A07;
    padding: 3% 10%;
    margin-top: 2rem;
    border-radius: 30px;
}
.vacancy-1{
    background-color: white;
    padding: 10px 70px;
    border-radius: 30px;
}
.vacancy-1 p{
    align-content:flex-start;
}
.vacancy-2 a{
    background-color: #F58A07;
    color: white;
    padding: 10px 30px;
    width: 40px;
    border-radius: 30px;
}
.absolute {
    position: relative;
    align-items: center;
    width: fit-content;
}
.absolute::before {
    content: '';
    position: absolute;
    inset: 0 75% 0 0;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 30px 0 0 30px;
}
.womanhead{
    vertical-align: bottom;
}
#fifth{
    position: relative;
}
.fifth-image{
   margin-left: auto;
}

.ribbon{
    position: absolute;
    display: block;
    top: -15px;
    right: -15px;
} 
.fa-brands{
    color: white;
}
.team{
    vertical-align: bottom;
}
#first{
    padding-bottom: 0;
    vertical-align: bottom;
}
.rec-left-absolute{
    position: relative;
}
.rec-left-absolute:after{
    content:'';
    position: absolute;
    background-color: #F58A07;
    height: 200px;
    width: 55px;
    left: 0;
    bottom: 0;
    border-top-right-radius: 20px;
}
.rec-left-absolute:before{
    content:'';
    position: absolute; 
    background-color: #F58A07;
    height: 300px;
    width: 55px;
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* Services */
.vacancy-service a{
    background-color: #F58A07;
    color: white;
    padding: 10px 30px;
    width: 40px;
    border-radius: 30px;
}
.text-service{
    margin-top: 150px;
}
.text-service h2{
    margin-bottom: 20px;
}
.text-service p{
    margin-bottom: 20px;
}
.text-service li{
    list-style-type: disc;
}
.absolute-small-one{
    position: relative;
}
.absolute-small-one::before{
    content:'';
    position: absolute;
    inset: 130px 92% 330px -45px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}
.absolute-small-zero{
    position: relative;
} 
.absolute-small-zero::before{
    content:'';
    position: absolute;
    inset: 270px -8% 180px 570px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}
.absolute-small-two{
    position: relative;
}
.absolute-small-two::before{
    content:'';
    position: absolute;
    inset: 230px 92% 230px -45px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}
.absolute-small-three{
    position: relative;
}
.absolute-small-three::before{
    content:'';
    position: absolute;
    inset: 270px -8% 180px 570px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}
.absolute-small-four{
    position: relative;
}
.absolute-small-four::before{
    content:'';
    position: absolute;
    inset: 330px 92% 130px -45px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}

/* Contact Us */
.form{
    background-color: rgb(214, 213, 213);
    line-height: 2rem;
    color: #5B5B5B;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
}
.form-one{
    background-color: lightgray;
    line-height: 2rem;
    color: #5B5B5B;
    padding: 10px 20px 130px 20px;
    margin-top: 10px;
    border-radius: 10px;
}
.map img{
    border-radius: 20px;
}
.submit a{
    display: inline-block;
    background-color: #F58A07;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 3rem;
}
/* .section-contact{
    gap:80px;
} */
.cu-1{
    width: 45%;
}
.cu-2{
    width: 21%;
    margin-left: 40px;
}
.cu-3{
    width: 20%;
}
/* Careers */
.job-position{
    display: flex;
    flex-direction: wrap;
    align-content: space-between;
}
.job-position h4{
    font-size: 1.2rem;
}
.position-col-5{
    background-color: #DCEAF5;
    width: 30%;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.careers h2{
    margin-bottom: 2rem;
}
/* Blog Inner */
.container-text{
    margin-left: 300px;
    margin-right: 300px;
}
.bloginner img{
    border-radius: 10px;
}
/* Careers Testing */
.career{
    text-align: center;
}
.details{
    background-color: #DCEAF5;
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 60px;
}
.col-2 details{
    text-align: center;
}
.col-5 .details-2{
    background-color: lightgray;
}
.apply{
    background-color: rgb(213, 213, 213);
    line-height: 2rem;
    color: #5B5B5B;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    width: 49%;
}
.apply-1{
    background-color: rgb(214, 213, 213);
    line-height: 2rem;
    color: #5B5B5B;
    padding: 50px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}
.details-2{
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
}
.testing{
    margin-bottom: 20px;
}
.ct-one{
    width: 30%;
    padding-left: 50px;
}
.ct-two{
    width: 65%;
}
.ct-one h4{
    line-height: 3.5rem;
}
.details p{
    line-height: 20px
}
/* Blog */
.blog img{
    border-radius: 20px;
}
#eight{
    background-color: white;
}
.blog-bottom-text{
    background-color: #DCEAF5;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}
.text-1{
    width: 60%;
}
.text-1 h1{
    line-height: 3.5rem;
}
.text-1 p{
    margin: 20px auto;
}
.col-2 .blog-img{
    margin-bottom: 80px;
}
.author p{
    margin-top: 20px;
}
.author-1{
    width: 6%;
}
.author-2{
align-self: center;
}
.pseudo-blog{
    gap: 0;
}
.spaces{
    padding-bottom: 3rem;
}